#formSubmit {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
}

i{
	font-style: normal !important;	
}

:root {
  --height-value-edit: 900px; /* Ä�á»‹nh nghÄ©a biáº¿n CSS */
}

#home-admin {
	height: var(--height-value-edit) !important;
}
#menu{
	height: var(--height-value-edit) !important;
}

#content_1{
	width: 80%;
	height: auto;
}

#content{
	height: var(--height-value-edit) !important;
}

.title_edit {
	margin: 20px 0px 20px 50px;
	font-family: Roboto;
}

label {
	font-family: Roboto;
}

#name_edit,
#quanty_edit,
#price_edit,
.describe_edit,
#style_edit,
#category_edit {
	font-size: 15px;
	padding: 3px;
}

#name_edit,
#price_edit,

#style_edit,
#category_edit {
	width: 20%;
}

#quanty_edit {
	width: 10%;
}

.describe_edit {
	width: 70%;
}

#btnUpdateProduct,
#btnAddProduct {
	width: 300px;
	height: 40px;
	border-radius: 3px;
	background-color: rgb(255, 0, 30);
	font-family: Roboto;
	color: azure;
	font-size: 20px;
	font-weight: 600;
	border: 0;
}
