#content_myorderDetail{
    margin-top: 94px;
}

.text-black{
    padding-top: 20px;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.mb-3{
    margin-top: 1rem ;
    font-size: 1.5rem;
}

.table td{
    padding:  .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 12px;
}

.table{
    border-collapse: collapse;
}

.mt-3{
    margin-top: 1rem !important;
}

h4{
    font-size: 1.5rem;
    font-weight: 500;
}

#back-btn{
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    margin-left: 200px;
}
