#content_order{
    margin-top: 94px;
}

.text-black{
    margin: 0px 0px 20px 20px;
    font-family: Roboto;
    font-size: 30px;
    padding-top: 20px;
}

.col-12{
    margin-top: 30px;
    flex: 0 0 100%;
    max-width: 100%;
}

.alert-light{
    border: solid 2px #eee;
    color: #6c6c6d;
    background-color: #fefefe;
    padding: 10px;
}

.alert-heading{
    color: inherit;
    font-size: 1.25rem;
}

.alert-primary{
    color: #004005;
    background-color: #cce5ff;
    border-color: #b8daff;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: .75rem 1.25rem;
}
