@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
* {
	padding: 0;
	margin: 0;
}
body {
	display: grid;
	place-items: center;
	height: 85vh;
	font-family: "Poppins", sans-serif;
	background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	position: relative;
	margin-top: 94px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	padding-block: 5vh;
	gap: 0.57rem;
}

.avatar {
	grid-column: span 2;
	display: flex;
	justify-content: center;
	width: 250px;
}

img {
	width: 175px;
	aspect-ratio: 1;
	border-radius: 50%;
	object-fit: cover;
}

.username {
	grid-column: span 2;
	margin-block-start: 0.75rem;
	margin-block-end: 2rem;
	color: #fff;
}

h3 {
	text-align: center;
}

.button {
	width: 500px;
	background-color: transparent;
	color: #fff;
	border: 1.5px solid #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 10px 10px 10px;
}

.button:hover {
	color: #1d1e22;
	background-color: #fff;
}

.input{
	height: 35px;
	width: 70%;
	border: none;
	color: white;
	font-size: 18px;
	background-color: transparent;
}

input:focus {
	outline: none;
	color: black; 
}

#gender{
	height: 35px;
	width: 70%;
	border: none;
	background-color: transparent;
	font-size: 16px;
	color: white;
}

#gender:focus {
	outline: none; 
	color: black;
}

#gender:hover {
	color: black;
}

.btn_save{
	width: 200px;
	height: 35px;
	border-radius: 5px;
	font-weight: 600;
	background: linear-gradient(to right,#23a6d5,  #e73c7e);
	border: 1px solid white;
	color: white;
	font-family: Roboto;
	padding: 10px 10px;
}

.btn_save:hover{
	background: linear-gradient(to right, #e73c7e, #23a6d5);
}

.btn_save:active {
	transform: translateY(2px); /* Di chuyá»ƒn button xuá»‘ng 2px (hoáº·c giÃ¡ trá»‹ phÃ¹ há»£p vá»›i báº¡n) */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* ThÃªm bÃ³ng Ä‘á»ƒ táº¡o hiá»‡u á»©ng Ä‘Ã¨ xuá»‘ng */
}

h3 {
    margin-block: 10px;
}
h4 {
	margin-block: 10px;
}
p {
	margin-block: 15px;
}
