<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet"  href="../css/header.css">
        <link rel="stylesheet"  href="../css/billDetail.css">
        <link rel="stylesheet"  href="../css/footer.css">

        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <title>SINGED-SHOP</title>
    </head>

    <body>
    
        
                <div id="div-table">
                   <div class="product">
                        <img src="../img/aaaa.png" style="width: 100px; height: 100px;">
                        <div class="product-info">
                            <h3>Tên sản phẩm : Áo ba lổ</h3>
                            <h3>Tổng giá : 100k </h3>
                            <h3>Số lượng : 50 </h3>
                          </div>
                   </div>

                   <div class="product">
                        <img src="../img/aaaa.png" style="width: 100px; height: 100px;">
                        <div class="product-info">
                            <h3>Tên sản phẩm : Áo ba lổ</h3>
                            <h3>Tổng giá : 100k </h3>
                            <h3>Số lượng : 50 </h3>
                        </div>
                    </div>

                    <div class="product">
                        <img src="../img/aaaa.png" style="width: 100px; height: 100px;">
                        <div class="product-info">
                            <h3>Tên sản phẩm : Áo ba lổ</h3>
                            <h3>Tổng giá : 100k </h3>
                            <h3>Số lượng : 50 </h3>
                          </div>
                   </div>

                   <div class="product">
                        <img src="../img/aaaa.png" style="width: 100px; height: 100px;">
                        <div class="product-info">
                            <h3>Tên sản phẩm : Áo ba lổ</h3>
                            <h3>Tổng giá : 100k </h3>
                            <h3>Số lượng : 50 </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
