<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <link rel="stylesheet"  href="../css/header.css">
            <link rel="stylesheet"  href="../css/cart.css">
            <link rel="stylesheet"  href="../css/footer.css">

            <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
            <title>SINGED-SHOP</title>
    </head>

    <body>

            <div id="content_cart">
                <div class="column_product">
                    <ul>
                        <li id="product_cart">
                            <img class="img_product_cart" style="background-image: url(../img/ke-o-nau.jpg); width: 120px; height: 120px; background-size: cover; margin-left: 40px;">
                            <div class="infor_product_cart">
                                <div class="vertical_column">
                                    <h3 class="name_product_cart">Ao Hoodie Basic</h3>
                                    <div class="parallel">
                                        <h4 class="color_product_cart">Mau</h4>
                                        <div class="display_color_cart last"></div>
                                    </div>
                                    <div class="parallel">
                                        <h4 class="size_product_cart">Size</h4>
                                        <h4 class="last">XL</h4>
                                    </div>
                                    <div class="parallel">
                                        <h4 class="quantity_product_cart">So luong</h4>
                                        <input class="last input_quanty" type="number" >
                                    </div>
                                </div>
                                <div id="function">
                                    <button class="delete_product_cart">
                                        Xóa 
                                    </button>
                                    <button class="edit_product_cart">
                                        Sửa
                                    </button>
                                </div>
                                <div id="infor_price_product_cart">
                                    <h3 class="price_product_cart">Đơn giá :  1200đ</h3>
                                    <h3 class="total_price_product_cart">Tổng giá : 400000đ</h3>
                                </div>
                            </div>
                        </li>

                        <li id="product_cart">
                            <img class="img_product_cart" style="background-image: url(../img/ke-o-nau.jpg); width: 120px; height: 120px; background-size: cover; margin-left: 40px;">
                            <div class="infor_product_cart">
                                <div class="vertical_column">
                                    <h3 class="name_product_cart">Ao Hoodie Basic</h3>
                                    <div class="parallel">
                                        <h4 class="color_product_cart">Mau</h4>
                                        <div class="display_color_cart last"></div>
                                    </div>
                                    <div class="parallel">
                                        <h4 class="size_product_cart">Size</h4>
                                        <h4 class="last">XL</h4>
                                    </div>
                                    <div class="parallel">
                                        <h4 class="quantity_product_cart">So luong</h4>
                                        <input class="last input_quanty" type="number">
                                    </div>
                                </div>
                                <div id="function">
                                    <button class="delete_product_cart">
                                        Xóa 
                                    </button>
                                    <button class="edit_product_cart">
                                        Sửa
                                    </button>
                                </div>
                                <div id="infor_price_product_cart">
                                    <h3 class="price_product_cart">Đơn giá :  1200đ</h3>
                                    <h3 class="total_price_product_cart">Tổng giá : 400000đ</h3>
                                </div>
                            </div>
                        </li>

                        <li id="product_cart">
                            <img class="img_product_cart" style="background-image: url(../img/ke-o-nau.jpg); width: 120px; height: 120px; background-size: cover; margin-left: 40px;">
                            <div class="infor_product_cart">
                                <div class="vertical_column">
                                    <h3 class="name_product_cart">Ao Hoodie Basic</h3>
                                    <div class="parallel">
                                        <h4 class="color_product_cart">Mau</h4>
                                        <div class="display_color_cart last"></div>
                                    </div>
                                    <div class="parallel">
                                        <h4 class="size_product_cart">Size</h4>
                                        <h4 class="last">XL</h4>
                                    </div>
                                    <div class="parallel">
                                        <h4 class="quantity_product_cart">So luong</h4>
                                        <input class="last input_quanty" type="number" min="0" max="1000">
                                    </div>
                                </div>
                                <div id="function">
                                    <button class="delete_product_cart">
                                        Xóa 
                                    </button>
                                    <button class="edit_product_cart">
                                        Sửa
                                    </button>
                                </div>
                                <div id="infor_price_product_cart">
                                    <h3 class="price_product_cart">Đơn giá :  1200đ</h3>
                                    <h3 class="total_price_product_cart">Tổng giá : 400000đ</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="column_funtion">
                    <h3 class="all_price_cart">Thành tiền :1324024đ </h3>
                    <button class="btn_buy_cart">Mua</button>
                    <button class="btn_delete_cart">Xóa tất cả</button>
                </div>
            </div>
    </body>
</html>
